html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
    font-family: Ubuntu;
}

/* Navbar Styles */
#navigation {
    background: #2c3e50;
    padding: 10px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
    color: #fff;
    outline: none;
}

button.navbar-toggler {
  outline: none;
}

.navbar-toggler-icon {
    background: url(../img/menu-circle.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}
/* End of Navbar Styles */

.typed {
  text-align: center;
  margin-top: 50px;
  height: 50px;
}

.typed-text {
  font-weight: bold;
  color: #2c3e50;
}
/* End of Typed message styles */

/* Input file styles */
.wrapper{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top: 50px;
}

 .file-upload {
  height:200px;
  width:200px;
  border-radius: 100px;
  position:relative;

  display:flex;
  justify-content:center;
  align-items: center;

  border:4px solid #FFFFFF;
  overflow:hidden;
  background-image: linear-gradient(to bottom, #2c3e50 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size:100px;
}

.file-upload input[type='file']{
  height:200px;
  width:200px;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  cursor: pointer;
}

.file-upload:hover{
  background-position: 0 -100%;
  /* color:#2590EB; */
  color: #2c3e50;
}
/* End of Input file styles */
